*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: rgb(64, 62, 62);
}
.container{
   width: 400px;
   padding: 25px 25px;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   background-color: white;
   border-radius: 10px;
}
.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom:8px;
}
.container input{
    width: 100%;
    height: 50px;
    border :1px solid #494eea; 
    outline: none;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}
.container button{
    width: 100%;
    height: 50px;
    background:#494eea;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 8px 10px #00000078;
    margin: 20px 0;
    font-weight: 500;

}
#imgbox{
    width: 200px;
    border-radius: 5px;
    max-height: none;
    overflow: hidden;
    transition: max-height 1s;
    
}
#imgbox img{
    width: 100%;
    padding: 10px;
}

#imgbox.show-img{
    max-height:300px;
    margin:10px auto;
    border: 1px solid #d1d1d1;
}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake {
0%{
    transform: translateX(0);
}
25%{
    transform: translateX(-2px);
}
50%{
    transform: translateX(0);
}
75%{
    transform: translateX(2px);
}
100%{
    transform: translateX(0);
}
    
}